/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle {
    vertical-align: middle;
}

.jumping {
	transform: translate(0%, 0%);
	animation: pop 1.3s infinite;
}

@keyframes pop {
	0% {
		transform: translate(0%, 0%) scale(1.25, 0.75);
	}
	50% {
		transform: translate(0%, -50%) scale(1, 1);
	}
	55% {
		transform: translate(0%, -50%) rotate(15deg);
	}
	60% {
		transform: translate(0%, -50%) rotate(-15deg);
	}
	65% {
		transform: translate(0%, -50%) rotate(15deg);
	}
	70% {
		transform: translate(0%, -50%) rotate(-15deg);
	}
	100% {
		transform: translate(0%, 0%) scale(1.25, 0.75);
	}
}